.biz-review-rating{
  background-image: url("https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png");
  background-size: 132px 560px;
  background-repeat: no-repeat;
  vertical-align: bottom;
  overflow: hidden;
  height: 0;
  width: 132px;
  padding-top: 18px;
}

.reviews-index-item{
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid lightgray;
  min-height: 202px;
}

.review-user{
  width: 33%;
}

.review-user .review-user-info{
  width: 80%;
  display: flex;
}

.review-info{
  width: 67%;
}


.review-user-avatar{
  height: 60px;
  width: 60px;
  overflow: hidden;
  margin-right: 5px;
  border-radius: 5px;
}

.review-user-avatar>img{
  object-fit: cover;
  height: 100%;
}

.review-user-info>ul>li>a{

  font-size: 14px;
  cursor: pointer;
  color: #0073bb;
  font-weight: bold;
}

.review-user-info>ul>li>a:hover{
  text-decoration: underline;
}

.review-user-info>ul>li:first-of-type{
  margin-bottom: 5px;
}

.review-user-info>ul>li{
  font-size: 12px;
}

.review-user-info>ul>li:nth-child(2){
  font-weight: bold;
}

.review-info-rate-time{
  display: flex;
}

.review-info-body{
  margin-top: 5px;
  height: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.review-info-body>p{
  white-space: pre-wrap;
}

.deleteReview{
  margin-top: 30px;
}

.report-review{
  margin-top: 10px;
}

.deleteReview, .report-review{
  float: right;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 7px 9px;
  color: #999;
  font-size: 12px;
  cursor: pointer;
}

.deleteReview:hover, .report-review:hover{
  background: linear-gradient(#fff, #eee);
  color: black;
}

.review-status{
  color: #999;
  margin-top: 15px;
  font-size: 12px;
  font-weight: bold;
}

.review-status>div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review-status ul{
  display: flex;
  margin-top: 10px;
  width: 80%;
  align-items: center;
}

.review-status ul>li{
  padding: 7px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
  background: linear-gradient(#fff, #eee);
}

.review-status ul>li:hover{
  background: white;
}

.review-status ul>li>i{
  margin-right: 5px;
}

.review-status .tagged{
  background: linear-gradient(#0097ec, #0097ec);
  color: white;
  background-color: #0097ec;
  border: 1px solid #007abe;
}

.already-voted{
  color: green;
}

.review-status .tagged:hover{
  border: 1px solid #ccc;
  color: #ccc;
}

.review-user:hover .review-table{
  display: block;
  transition: display 2s;
}

.review-table{
  display: none;
  margin-top: 10px;
}

.review-table *{
  color: #0073bb;
  font-size: 12px;
  cursor: pointer;
}

.review-table>tbody>tr{
  padding-bottom: 10px;
}

.review-table td {
  padding-left: 10px;
  font-weight: bold;
  font-family: 'Rubik';
}

.review-table td:hover {
  text-decoration: underline;
}

.delete-confirmation,
.report-review-modal{
  position: fixed;
  top: 33%;
  left: 40%;
  width: 20%;
  height: 140px;
  z-index: 3;
  border-radius: 10px;
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.report-review-modal{
  width: 40%;
  left: 30%;
  height: 30%;
}

.report-review-modal>form{
  display: flex;
  flex-direction: column;
}

.report-review-modal>form>textarea{
  padding: 15px;
  resize: none;
  height: 100px;
  border: 1px solid lightgray;
  margin-bottom: 10px;
  border-radius: 3px;
}

.report-review-modal>form>label{
  font-weight: bold;
  margin-bottom: 10px;
}

.delete-confirmation span,
.report-review-modal span{
  font-weight: bold;
  font-size: 20px;
  color: gray;
  cursor: pointer;
}

.delete-confirmation span:hover,
.report-review-modal span:hover{
  color: black;
}

.delete-confirmation>div,
.report-review-modal>div{
  display: flex;
  justify-content: space-between;
}

.delete-confirmation>div:first-of-type{
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.delete-confirmation>div>button:first-of-type,
.report-review-modal button{
  color: white;
  padding: 7px 10px;
  border: 1px solid #8d0005;
  margin-right: 15px;
  font-weight: bold;
  text-align: center;
  background-color: #bd1f1f;
  border-radius: 4px;
}

.delete-confirmation>div>button:first-of-type:hover{
  background-color: #a71c1c;
}

.delete-confirmation>div>button:last-of-type:hover{
  color: #0073bb;
}

.report-review-modal a{
  cursor: pointer;
  color: #0073bb;
}

.report-review-modal a:hover{
  text-decoration: underline;
}

.report-error{
  color: red;
  font-size: 14px;
}

.submit-report{
  font-size: 12px;
  font-weight: bold;
  color: #0073bb;
}
