.biz-review-rating{
  background-image: url("https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png");
  background-size: 132px 560px;
  background-repeat: no-repeat;
  vertical-align: bottom;
  overflow: hidden;
  height: 0;
  width: 132px;
  padding-top: 18px;
}

.reviews-index-item{
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid lightgray;
}

.review-user{
  width: 33%;
  display: flex;
}

.review-info{
  width: 67%;
}

.review-user-avatar{
  height: 60px;
  width: 60px;
  overflow: hidden;
  margin-right: 5px;
}

.review-user-avatar>img{
  object-fit: cover;
}

.review-user-info>ul>li>a{
  font-size: 14px;
  cursor: pointer;
  color: #0073bb;
  font-weight: bold;
}

.review-user-info>ul>li>a:hover{
  text-decoration: underline;
}

.review-user-info>ul>li:first-of-type{
  margin-bottom: 5px;
}

.review-user-info>ul>li{
  font-size: 12px;
}

.review-user-info>ul>li:nth-child(2){
  font-weight: bold;
}

.review-info-rate-time{
  display: flex;
}

.review-info-body{
  margin-top: 5px;
}

.deleteReview{
  margin-top: 30px;
}

.report-review{
  margin-top: 10px;
}

.deleteReview, .report-review{
  float: right;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 7px 9px;
  color: #999;
  font-size: 12px;
  cursor: pointer;
}

.deleteReview:hover, .report-review:hover{
  background: linear-gradient(#fff, #eee);
  color: black;
}

.review-status{
  color: #999;
  margin-top: 30px;
  font-size: 12px;
  font-weight: bold;
}

.review-status>div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review-status ul{
  display: flex;
  margin-top: 10px;
  width: 80%;
  align-items: center;
}

.review-status ul>li{
  padding: 7px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
  background: linear-gradient(#fff, #eee);
}

.review-status ul>li:hover{
  background: white;
}

.review-status ul>li>i{
  margin-right: 5px;
}
