.write-review{
  width: 30%;
  min-width: 600px;
  margin: 15px auto;
}

.write-review>h1{
  color: #0073bb;
  font-size: 32px;
  font-weight: 900;
  cursor: pointer;
  padding: 20px 0;
}

.write-review>h1:hover{
  text-decoration: underline;
}

.write-review-input{
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 100%;
  min-height: 400px;
  padding: 20px;
}


.write-review-input>textarea{
  width: 100%;
  min-height: 350px;
  resize: vertical;
  overflow: visible;
  line-height: 1.5em;
  maxlength: 5000;
}

.write-review-error{
  color: #d32323;
  font-size: 13px;
  font-family: 'Rubik';
}

#write-review-rating-background{
  margin-bottom: 30px;
  background-image: url("https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png");
  background-size: 132px 560px;
  background-repeat: no-repeat;
  vertical-align: bottom;
  overflow: hidden;
  height: 0;
  width: 132px;
  padding-top: 24px;
  background-position: 0 0;
  position: relative;
}

#write-review-rating{
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 7px;
  z-index: 3;
}

#write-review-rating>li{
  margin-right: 14px;
}

#write-review-rating>li>label>input[type='radio']{
  visibility: hidden;
}

.write-review input[type='submit']{
  background-color: #8d0005;
  background: linear-gradient(#d90007,#c91400);
  border: 1px solid #8d0005;
  color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  font-size: 16px;
  font-weight: 800;
  border-radius: 3px;
  padding: 15px 60px;
  margin-top: 15px;
}

.write-review input[type='submit']:hover{
  background-color: #ed0008;
  background: linear-gradient(#ed0008,#dd1600);
}
