.write-review-search-banner {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
  color: #333;
}

.write-review-search-header{
  padding: 50px 0;
  width: 50%;
  margin: auto;
  min-width: 1020px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.write-review-search{
  width: 70%;
}

.write-review-search h1{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.write-review-search>p{
  font-size: 18px;
  margin-bottom: 20px;
}

.write-review-search .searchBar{
  height: 35px;
  margin: 0;
  width: 95%;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.write-review-search .searchBar>div:first-of-type{
  height: 100%;
  border-radius: 4px;
  border: 1px solid lightgray;
  background-color: white;
  display: flex;
  align-items: center;
  width: 55%;
}

.write-review-search .searchBar .searchBar-location{
  height: 100%;
  border-radius: 4px;
  border: 1px solid lightgray;
  background-color: white;
  display: flex;
  align-items: center;
  width: 35%;
}

.write-review-search .searchBar button{
  width: 5%;
  border-radius: 4px;
  border-color: #8d0005;
  background-color: #d90007;
  background: linear-gradient(#d90007, #c91400);
}

.write-review-search .searchBar button i{
  margin-left: 30%;
  font-size: 14px;
}

.write-review-temp{
  width: 50%;
  min-width: 1020px;
  margin: 100px auto;
}
