.home-center-recent-activity ul>div{
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.home-center-activity-item i{
  margin-right: 7px;
}

.home-center-activity-item{
  width: 32%;
  float: left;
  border: 1px solid lightgray;
  border-radius: 3px;
  color: #666;
  font-size: 14px;
  margin-right: 10px;
}

.home-center-activity-item-user{
  display: flex;
  margin: 10px 10px 0 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.home-center-activity-item-user .activity-item-avatar{
  margin-right: 20px;
}

.activity-item-avatar img{
  height: 100%;
  object-fit: cover;
}

.home-center-activity-item a{
  color: #0073bb;
  cursor: pointer;
}

.activity-item-biz-img{
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.activity-item-biz-img img{
  object-fit: cover;
  height: 100%;
}

.home-center-activity-item h2{
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0;
}

.activity-item-biz{
  margin: 0 10px 10px 10px;
}

.activity-two-photo-container{
  display: flex;
  justify-content: space-around;
}

.activity-one-of-two-photo{
  width: 47%;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.activity-one-of-two-photo>div:first-of-type{
  width: 145px;
  height: 145px;
  overflow: hidden;
}
.activity-one-of-two-photo>div>img{
  object-fit: cover;
  height: 100%;
}

.activity-one-of-two-photo>div:last-of-type{
  color: #666;
  display: flex;
  padding: 7px;
  align-items: center;
  justify-content: center;
}

.activity-one-of-two-photo>div:last-of-type:hover{
  color:  #0073bb;
  cursor: pointer;
}

.activity-item-biz-review{
  overflow: hidden;
  text-overflow: ellipsis;
  height: 98px;
}

.activity-one-photo-container{
  border-top: 1px solid lightgray;
  border-radius: 3px;
}

.activity-one-photo-container>div:first-of-type{
  width: 305px;
  height: 305px;
  border-radius: 3px;
  overflow: hidden;
}

.activity-one-photo-container>div:first-of-type>img{
  object-fit: cover;
  height: 100%;
}

.activity-one-photo-container>div:last-of-type{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

.activity-one-photo-container>div:last-of-type:hover{
  color:  #0073bb;
  cursor: pointer;
}
