.home-center{
  width: 50%;
  min-width: 1020px;
  margin: 100px auto;
    font-family: 'Rubik';
}

.home-center-restaurant-location{
  width: 100%;
}

.home-center h1{
  text-align: center;
  color: #d32323;
  font-size: 20px;
  font-weight: 900;
  margin: 30px auto;
}

.home-center ul{
  margin: auto;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 5px;
  color: #666;
  border-bottom: 1px solid lightgray;
  padding: 0 10px;
  margin-bottom: 40px;
  font-size: 16px;
}

.home-center li{
  border-bottom: 3px solid transparent;
  padding: 10px 5px;
  cursor: pointer;
}

.home-center li:hover{
  border-bottom: 3px solid #d32323;
}

.home-center-restaurant-samples{
  width: 100%;
  text-align: center;
}

.home-center-restaurant-samples h2{
  color: #d32323;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 900;
  margin: 20px auto;
}

.home-center-restaurant-samples>div{
  display: flex;
  justify-content: space-between;
}

.home-center-restaurant-samples a{
  font-size: 14px;
  color: #0073bb;
}

.home-center-restaurant-samples a:hover{
  text-decoration: underline;
}
