.img-item{
  height: 150px;
  width: 150px;
  overflow: hidden;
  float: left;
  border-radius: 5px;
  margin-right: 18px;
  margin-bottom: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.2);

}

.img-item>img{
  height: 100%;
  object-fit: cover;
}

.img-item>img:hover{
  opacity: 0.5;
  cursor: pointer;
}

.modal{
  display: none;
}

.is_open{
  display: block;
}

.modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.img-show {
  position: absolute;
  top: 50px;
  left: 15%;
  width: 70%;
  min-width: 1020px;
  height: 860px;
  z-index: 3;
  border-radius: 10px;
  background: rgba(black, 0.3);
  display: flex;
  align-items: center;
  overflow: hidden;
}

.modal-img-show{
  vertical-align: middle;
  width: 75%;
  overflow: hidden;
  margin: 10% 0;
}

.modal-img-show-description{
  width: 25%;
  height: 100%;
  background-color: white;
}

.close-modal{
  font-size: 20px;
  font-weight: bold;
  color: gray;
  cursor: pointer;
  margin-left: 100px;
}
.close-modal:hover{
  color: black;
}

.modal-img-show-description img{
  object-fit: cover;
  height: 100%;
}

.modal-img-show-description>div{
  margin: 15px;
  display: flex;
}

.modal-img-show-description a{
  color: #0073bb;
}

.modal-img-show-description>div>div>p{
  font-size: 12px;
  color: gray;
}

.img-description{
  color: #333;
}

.img-description-table *{
  color: #0073bb;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
}

.img-description-table{
  margin-left: 15px;
}

.img-description-table th{
  padding-right: 15px
}

.img-description-table td{
  font-family: 'Rubik';
  padding: 0;
}

.img-description-table td:hover{
  text-decoration: underline;
}

.img-description-created-at{
  color: gray;
  font-size: 12px;
}
