.user-profile-reviews{
  width: 62%;
  padding-left: 20px;
  color: #333;
}

.user-profile-reviews h1{
  font-size: 18px;
  font-weight: bold;
  color: #d32323;
  margin-bottom: 10px;
}

.user-profile-reviews-item{
  border-top: 1px solid #e6e6e6;
  padding: 20px 0;
  width: 100%;
}

.user-profile-reviews-item-biz{
  display: flex;
}

.user-profile-reviews-item-biz-cover{
  overflow: hidden;
  width: 80px;
  height: 80px;
  border-radius: 5px;
  margin-right: 10px;
}

.user-profile-reviews-item-biz-cover img{
  height: 100%;
  object-fit: cover;
}

.user-profile-reviews-item-biz a{
  cursor: pointer;
  font-weight: bold;
  color: #0073bb;
}

.user-profile-reviews-item-biz a:hover{
  text-decoration: underline;
}

.user-profile-reviews-item-biz-info-address{
  margin-top: 10px;
  width: 55%;
  font-size: 12px;
}

.user-profile-reviews-item-rating{
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
}

.user-profile-reviews-item-rating p{
  margin-left: 5px;
}

.user-profile-reviews-item-body{
  margin-top: 10px;
}
