.user-settings{
  width: 60%;
  margin: 50px auto;
  min-width: 1020px;
  display: flex;
}

.user-settings-sub-component{
  margin-left: 50px;
}

.user-settings-sub-component h1{
  font-size: 18px;
  font-weight: bold;
  color: #d32323;
  margin-bottom: 10px;
}
