.user-profile-bookmarks{
  width: 62%;
  padding-left: 20px;
  color: #333;
}

.user-profile-bookmarks h1{
  font-size: 18px;
  font-weight: bold;
  color: #d32323;
  margin-bottom: 10px;
}


.user-profile-bookmarks-item{
  margin-top: 10px;
  border-top: 1px solid #e6e6e6;
  display: flex;
  padding: 15px 0;
}

.user-profile-bookmarks-item-biz-cover{
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 5px;
  margin-right: 15px;
}

.user-profile-bookmarks-item-biz-cover img{
  object-fit: cover;
  height: 100%;
}

.user-profile-bookmarks-item-biz-info a{
  cursor: pointer;
  font-weight: bold;
  color: #0073bb;
}

.user-profile-bookmarks-item-biz-info a:hover{
  text-decoration: underline;
}

.user-profile-bookmarks-item-biz-info .biz-info-rating{
  margin-top: 10px;
  height: 0;
  padding-top: 18px;
}

.user-profile-bookmarks-item-biz-info>div{
  display: flex;
  align-items: center;
  color: #666;
  font-size: 14px;
}

.user-profile-bookmarks-item-biz-info>div>p{
  margin-top: 10px;
}
