
.biz-show{
  background-color: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
}

.biz-show-detail{
  position: relative;
  width:50%;
  min-width: 1020px;
  margin: 0 auto;
  padding-top: 15px;
  height: 400px;
}

.biz-show-top{
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.biz-show-left-top{
  width: 50%;
}

.biz-show-left-top h1{
  font-family: 'Rubik';
  font-size: 36px;
  font-weight: 900;
  padding-bottom: 15px;
  color: #333;
}

.biz-show-left-top .biz-show-rating-number{
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.biz-show-left-top .biz-show-rating-number *{
  padding-right: 10px;
  color: gray;
}

.biz-show .biz-info-rating>img{
  width: 100px;
}

.biz-info-rating{
  background-image: url("https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png");
  background-size: 132px 560px;
  background-repeat: no-repeat;
  vertical-align: bottom;
  overflow: hidden;
  height: 0;
  width: 132px;
  padding-top: 24px;
  background-position: 0 -216px;
}

.biz-show-right-top{
  display: flex;
  align-items: center;
}

.writeReview{
  background-color: #d90007;
  border: 1px solid #8d0005;
  color: white;
  font-size: 14px;
  font-weight: 700;
  border-radius: 3px;
  padding: 10px 15px;
  margin-right: 10px;
}

.writeReview:hover{
  background-color: #ed0008;
}

.writeReview i{
  margin-right: 5px;
  font-size: 16px;
}

.biz-show-right-top ul {
  display: flex;
  align-items: center;
}

.biz-show-right-top ul i{
  margin-right: 5px;
}

.biz-show-right-top ul li {
  padding: 7px 12px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
  color: #666;
  background-color: #f7f7f7;
  cursor: pointer;
}

.biz-show-right-top ul li:last-of-type {
  border-radius:  0 3px 3px 0 ;
  border-right: 1px solid #ccc;
}

.biz-show-right-top ul li:first-of-type {
  border-radius: 3px 0 0 3px;
}

.biz-show-right-top ul li:hover {
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
}

.biz-show-left-bottom {
  position: absolute;
  top: 150px;
  height: 320px;
  width: 320px;
  border: 1px solid lightgray;
  background-color: white;
  font-size: 14px;
}

.biz-show-map{
  width: 308px;
  margin: 5px;
  border: 1px solid lightgray;
}

.biz-show-info{
  display: flex;
  margin-top: 15px;
  margin-left: 15px;
}

.biz-show-info-icon i {
  margin-right: 5px;
  color: gray;
  padding: 0 5px 7px 0;
}

.biz-show-info-text{
  display: flex;
  flex-direction: column;
  margin-right: 95px;
  line-height: 18px;
}

.biz-show-info-text a{
  color: #0073bb;
  cursor: pointer;
  line-height: 22px;

}

.biz-show-info-icon{
  display: flex;
  flex-direction: column;
}

.biz-show-info-icon i:first-of-type{
  padding-bottom: 28px;
}

.biz-show-info-icon i:last-of-type{
  margin-left: 4px;
}

.biz-show-address{
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.biz-show-edit{
  color: #0073bb;
  font-size: 12px;
  cursor: pointer;
}

.biz-show-edit i{
  padding-right: 5px;
}

.biz-show-right-bottom{
  position: absolute;
  top: 195px;
  left: 325px;
  width: 68%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.biz-show-img{
  width: 100%;
}

.biz-show-no-img{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.biz-show-no-img>img{
  position: absolute;
  width:100%;
  object-fit: cover;
  opacity: 0.3;
  top: -45px;
}

.biz-show-no-img a{
  z-index:1000;
}

.biz-show-no-img div{
  padding: 8px 15px;
  border: 1px solid gray;
  border-radius: 3px;
  color: gray;
  z-index: 1000;
  background-color: #f5f5f5;
}

.biz-show-no-img div:hover{
  box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
  background-color: white;
}

.biz-show-no-img div i{
  padding-right: 8px;
}

.biz-show-img > div{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 220px;
  width: 100%;
}

.thumb{
  width: 220px;
  height: 100%;
  overflow: hidden;
}

.thumb>img{
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

// .biz-show-img-zoom {
//   height: 120%;
//   width: 264px;
// }

.thumb:hover{
  height: 120%;
  width: 264px;
  -webkit-transition: height 1s, width 1s;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.biz-show-more-img{
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
}
.biz-show-more-img i{
  margin-right: 7px;
  color: gray;
}
.biz-show-more-img a{
  color: #0073bb;
}
