.biz_index_item {
  display: flex;
  border-top: 1px solid #e6e6e6;
  padding: 15px 0;
  width: 60%;
  color: #333;
}

.biz_index_item img{
  width: 80px;
  height: 80px;
  border-radius: 3px;
}

.biz-info {
  margin-left: 15px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.biz-info-title {
  display: flex;
  padding-bottom: 5px;
}

.biz-info-title a {
  cursor: pointer;
  color: #0073bb;
}

.biz-info-title a:hover, .biz-info-tags a:hover{
  text-decoration: underline;
}

.biz-info-price-tags {
  display: flex;
}

.biz-info-price-tags p {
  padding-right: 8px;
  color: #333;
  font-size: 14px;
}

.biz-info-right{
  width: 50%;
}
 .biz-info-left {
  width: 50%;
}

.biz-info-address{
  padding-bottom: 5px;
}

.biz-info-tags a{
  cursor: pointer;
  color: #0073bb;
}


.biz-info-left .biz-info-rating{
  background-image: url("https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png");
  background-size: 132px 560px;
  background-repeat: no-repeat;
  vertical-align: bottom;
  overflow: hidden;
  height: 0;
  width: 132px;
  padding-top: 18px;
  background-position: 0 -402px;
  margin-bottom: 5px;
}
