* {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.home-header .user{
  background-color:rgba(0, 0, 0, 0.2);
}

.home-img-frame{
  position: absolute;
  width: 100%;
  max-height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  z-index: -1;
  min-width: 1020px;
}

.home-img{
  // width: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.home {
  min-height: 600px;
  min-width: 1020px;
}

.home-main{
  margin: 0 auto;
  min-width: 1020px;
  width: 50%;
  min-height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  // justify-content: space-between;
}

.home-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  height:65px;
}

.home-header .services{
  padding: 5px;
}

.home-header .services {
  display: flex;
  color: white;
  font-weight: 800;
  padding: 10px;
}


.home-header .services>a>div{
  width: auto;
  margin: 2px 15px;
  padding: 7px;
  text-align: center;
  border-bottom: 3px solid transparent;
  }

.home-header .services>a>div:hover{
  border-bottom: 3px solid white;
  transition: border-bottom 1s;
}

.home-header .sessionButton {
  display: flex;
  justify-content: flex-end;
  width: 250px;
  padding: 10px;
}

.home-header .sessionButton div{
  color: white;
  font-weight: 900;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

.home-header .login{
  width: 50px;
  padding: 0 10px;
  margin-right: 5px;
}

.home-header .login:hover{
  border-bottom: 2px solid white;
}

.home-header .signup{
  width: 100px;
  border: 2px solid white;
  border-radius: 5px;
}

.home-header .signup:hover{
  background-color: white;
  color: gray;
}

.home .business ul{
  display: flex;
  flex-direction: row;
  color: white;
  font-weight: 800;
}

.home-logo {
  font-family: 'Rubik';
  -webkit-font-smoothing: antialiased;
  font-size: 40px;
  font-weight: 900;
  text-shadow: 3px 3px 0 white,
    -3px 3px 0 white,
    3px -3px 0 white,
    -3px -3px 0 white,
    0px 3px 0 white,
    0px -3px 0 white,
    -3px 0px 0 white,
    3px 0px 0 white,
    2px 2px 0 white,
    -2px 2px 0 white,
    2px -2px 0 white,
    -2px -2px 0 white,
    0px 2px 0 white,
    0px -2px 0 white,
    -2px 0px 0 white,
    2px 0px 0 white,
    3px 2px 0 white,
    -3px 2px 0 white,
    3px -2px 0 white,
    -3px -2px 0 white,
    2px 3px 0 white,
    -2px 3px 0 white,
    2px -3px 0 white,
    -2px -3px 0 white;
  margin-top: 100px;
}

.home-logo i {
  color: red;
  margin-left: 5px;
}

.home .business ul {
  margin-top: 15px;
}

.home .business ul a {
  display: flex;
  flex-direction: row;
}

.home .business ul i{
  margin-right: 10px;
}

.home .business ul a li p:hover,{
  text-decoration: underline;
  cursor: pointer;
}

.home .searchBar {
  width: 100%;
  margin-top: 50px;
  color: #333;
}


.home-main .business a{
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.tooltip{
  position: relative;
}

.tooltip:hover .tooltiptext{
  visibility: visible;
}

.tooltip .tooltiptext{
  position: absolute;
  visibility: hidden;
  top: -90%;
  width: 150px;
  background-color: #555;
  opacity: 0.9;
  transition: opacity .6s;
  z-index: 1;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.tooltip .tooltiptext:after {
  content: "";
  display: block;
  position: absolute;
  top: 80%;
  left: 20%;
  border: 10px solid transparent;
  border-top-color: #555;
  opacity: 0.9;
  z-index: 1;
}
