.header{
  height: 100px;
  background-color: #d32323;
  margin: 0;
}

.nav-bar{
  background-color: #d32323;
  vertical-align: baseline;
  display: flex;
  // justify-content: space-around;
  min-width: 1020px;
  align-items: center;
  margin-top: 30px;
  margin: auto;
  width: 50%;
  height: 70%;
}

.logo i {
  color: red;
  font-size: 28px;
}

.logo span {
  padding-right: 3px;
}

.logo{
  font-family: 'Nunito';
  font-size: 20px;
  font-weight: 900;
  text-shadow: 3px 3px 0 white,
    -3px 3px 0 white,
    3px -3px 0 white,
    -3px -3px 0 white,
    0px 3px 0 white,
    0px -3px 0 white,
    -3px 0px 0 white,
    3px 0px 0 white,
    2px 2px 0 white,
    -2px 2px 0 white,
    2px -2px 0 white,
    -2px -2px 0 white,
    0px 2px 0 white,
    0px -2px 0 white,
    -2px 0px 0 white,
    2px 0px 0 white,
    3px 2px 0 white,
    -3px 2px 0 white,
    3px -2px 0 white,
    -3px -2px 0 white,
    2px 3px 0 white,
    -2px 3px 0 white,
    2px -3px 0 white,
    -2px -3px 0 white;
  margin-right: 10px;
}

.searchBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  background-color: white;
  height: 40px;
  width: 80%;
  margin-left: 12px;
  margin-right: 12px;
}

.searchBar span{
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
}

.searchBar input{
  padding: 1px;
  width: 41%;
  // border: 1px solid gray;
}

.searchBar input:first-of-type{
  border-right: 1px solid lightgray;
}

.searchBar button i {
  margin-left: 28px;
}

.searchBar button{
  height: 100%;
  width: 70px;
  background-color: #bd1f1f;
  border-radius: 0 3px 3px 0;
  // align-items: center;
}

.searchBar button:hover{
  background-color: #a71c1c;
}

.fa-search{
  margin-left: 20px;
  font-size: 28px;
  color: white;
  text-shadow: 1px 1px 1px #ccc;
}

.signup{
  display: flex;
  flex-direction: column;
  width: 10%;
}

.signup li{
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #bd1f1f;
  width: 100%;
  font-weight: 800;
  font-size: 14px;
  color: white;
  border-radius: 4px;
}

.signup li:hover{
  background-color: #a71c1c;
}

.menu-bar{
  background-color: #bd1f1f;
  height: 30%;
  color: white;
  font-weight: 850;
  font-size: 13px;
}

.menu{
  min-width: 1020px;
  margin: auto;
  vertical-align: baseline;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
  height: 100%;
}

.business{
  width: 50%;
}

.business ul a{
  width: 33.33%;
}

.services{
  width: 40%;
}

.services ul a:first-of-type{
  width: 50%;
}

.services ul a{
  width: 25%;
}

.services ul li {
  // text-align: center;
  // vertical-align: middle;
  margin-top: 7px;
}

.menu * {
  height: 100%;
  // vertical-align: middle;
  text-align: center;
}

.menu div ul{
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.login-btn {
  width: 100px;
  color: white;
}

.login-btn p {
  margin-top: 7px;
}

.fa-sort-desc {
  margin-left: 7px;
}

.menu i {
  vertical-align: middle;
  margin-right: 7px;
  margin-top: 7px;
}

.menu-bar a{
  height: 100%;
}

.menu-bar a:hover{
  background-color: #a71c1c;
}

.user{
  display: flex;
  flex-direction: row;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  background-color: #bd1f1f;
  width: 55px;
  position: relative;
}

.user i{
  margin-top: 10px;
}

.userImg img{
  border-radius: 4px 0 0 4px;
  height: 40px;
  width: 35px;

}

.hidden{
  display: none;
}

#user-dropdown{
  position: absolute;
  top: 50px;
  right: 0px;
  border: 1px solid lightgray;
  border-radius: 3px;
  width: 180px;
  background-color: white;
  padding: 5px;
  z-index:1000;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.user-dropdown-detail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.user-dropdown-detail * {
  padding: 5px;
}

#user-dropdown .user-dropdown-detail>img{
  height: 50px;
  width: 50px;
}

.user-detail>a {
  color: #0073bb;
  font-size: 16px;
  font-weight: 800;
}

#user-dropdown>ul>li {
  font-size: 14px;
  font-weight: 600;
  padding: 5px;
  cursor: pointer;
  margin-left: 7px;
  color: gray;
}

#user-dropdown>ul {
    margin-bottom: 7px;
}

#user-dropdown>ul>li>a{
  color: #0073bb;
}

#user-dropdown>ul>a>li {
  font-size: 14px;
  margin-left: 7px;
  cursor: pointer;
  color: #0073bb;
}

#user-dropdown hr{
  height: 0;
  border: 0;
  border-top: 1px solid lightgray;
  margin: 8px;
}

#user-dropdown li i{
  margin-right: 8px;
  font-size: 18px;
}

#user-dropdown a:hover {
  text-decoration: underline;
}
