.header{
  height: 100px;
  background-color: #d32323;
  margin: 0;
}

.nav-bar{
  background-color: #d32323;
  vertical-align: baseline;
  display: flex;
  justify-content: space-between;
  min-width: 1020px;
  align-items: center;
  margin-top: 30px;
  margin: auto;
  width: 50%;
  height: 70%;
}

.logo i {
  color: red;
  font-size: 28px;
}

.logo span {
  padding-right: 3px;
}

.logo{
  font-family: 'Rubik';
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  font-weight: 900;
  text-shadow: 3px 3px 0 white,
    -3px 3px 0 white,
    3px -3px 0 white,
    -3px -3px 0 white,
    0px 3px 0 white,
    0px -3px 0 white,
    -3px 0px 0 white,
    3px 0px 0 white,
    2px 2px 0 white,
    -2px 2px 0 white,
    2px -2px 0 white,
    -2px -2px 0 white,
    0px 2px 0 white,
    0px -2px 0 white,
    -2px 0px 0 white,
    2px 0px 0 white,
    3px 2px 0 white,
    -3px 2px 0 white,
    3px -2px 0 white,
    -3px -2px 0 white,
    2px 3px 0 white,
    -2px 3px 0 white,
    2px -3px 0 white,
    -2px -3px 0 white;
  margin-right: 10px;
}

.searchBar{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  background-color: white;
  height: 40px;
  width: 80%;
  margin-left: 12px;
  margin-right: 12px;
}

.searchBar::-webkit-input-placeholder {
  color: lightgray;
}

.hint:after {
  content: " ";
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  border: 10px solid transparent;
  border-top-color: #555;
  opacity: 0.9;
  z-index: 1;
}


.hint{
  position: absolute;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  width: 150px;
  top: -15px;
  left: 30%;
  background-color: #555;
  color: #fff;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
  opacity: 0.9;
  transition: opacity .6s;
}

.searchBar span{
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
}

.searchBar input{
  padding: 1px;
  width: 41%;
}

.searchBar input:first-of-type{
  border-right: 1px solid lightgray;
}

.searchBar button{
  height: 100%;
  width: 70px;
  background-color: #bd1f1f;
  border-radius: 0 3px 3px 0;
}

.searchBar button:hover{
  background-color: #a71c1c;
}

.searchBar button>i{
  margin-left: 25px;
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 1px #ccc;
}

.signup{
  display: flex;
  flex-direction: column;
  width: 10%;
}

.signup li{
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #bd1f1f;
  width: 100%;
  font-weight: 800;
  font-size: 14px;
  color: white;
  border-radius: 4px;
}

.signup li:hover{
  background-color: #a71c1c;
}

.menu-bar{
  background-color: #bd1f1f;
  height: 30%;
  color: white;
  font-weight: 850;
  font-size: 13px;
}

.menu{
  min-width: 1020px;
  margin: 0 auto;
  vertical-align: baseline;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
}

.menu i {
  margin-right: 7px;
  padding-top: 15px;
}
.business{
  width: 50%;
}

.business ul a{
  cursor: pointer;
  width: 33%;
}

.business ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.menu .business ul li p{
  padding-top: 13px;
}

.services{
  width: 40%;
}

.services ul a:first-of-type{
  width: 50%;
}

.services ul a{
  width: 25%;
}

.services ul li {
  text-align: center;
  margin-top: 7px;
}

.menu * {
  height: 100%;
  text-align: center;
}

.menu div ul{
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.login-btn {
  width: 100px;
  color: white;
}

.login-btn p {
  margin-top: 7px;
}

.fa-sort-desc {
  margin-left: 7px;
}


.menu-bar a{
  height: 100%;
}

.menu-bar a:hover{
  background-color: #a71c1c;
}
