.header-session {
  height: 70px;
  background-color: #d32323;
  margin: 0;
  align-items: center;
  display: flex;
}

.header-session>h1 {
  margin: auto;
}

.session{
  width: 60%;
  margin: 200px auto;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.session-form {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
}


.session-img{
  width: 40%;
}

.normal-form input {
  width: 97%;
  border-radius: 5px;
  border: 1px solid lightgray;
  height: 25px;
  padding: 8px 0 8px 8px;
  margin-bottom: 10px;
  font-size: 14px;

}

.normal-form {
  margin-top: 20px;
}

.session button{
  padding: 8px 0 8px 8px;
  width: 97%;
  text-align: center;
  background-color: #d90007;
  border: 1px solid #8d0005;
  color: white;
  font-size: 16px;
  height: 30px;
  border-radius: 5px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 10px;
}

.normal-form>a {
  color: #0073bb;
  text-align: right;
  font-size: 12px;
  // padding-left: 180px;
}

.session-form h2 {
  font-size: 22px;
  padding-bottom: 10px;
  color: #d32323;
  font-weight: 900;
}

.session-form h3 {
  font-size: 14px;
  font-weight: 900;
  font-family: 'Robot', sans-serif;
  color: black;
}

.session-form h3 a{
  color: #0073bb;
}

.session-form .term{
  margin: 10px, 0, 10px, 0;
  color: gray;
  font-size: 12px;
  text-align: center;
}

.normal-form>p {
  color: gray;
  font-size: 12px;
  // margin-left: 162px;
  text-align: right;
}

.session-form p a {
  color: #0073bb;
}

.session-error{
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 70px;
  align-items: center;
  background-color: #fcd6d3;
  border-radius: 5px;
  margin: 10px auto;
  cursor: pointer;
}

.session-error>p {
  margin-left: 20px;
}

.errors-closeBtn {
  color: gray;
  height: 22px;
  width: 22px;
  text-align: center;
  font-size: 24px;
  margin-right: 20px;
}

.errors-closeBtn:hover{
  color: black;
  // background-color: lightgray;
  // border-radius: 50%;
}
