.biz_index_item {
  display: flex;
  border-top: 1px solid #e6e6e6;
  padding: 15px 0;
  width: 60%;
  color: #333;
}

.index-thumb{
  width: 90px;
  height: 90px;
  border-radius: 5px;
  overflow: hidden;
}

.biz_index_item img{
  object-fit: cover;
  height: 100%;
}

.biz-info {

  display: flex;
  justify-content: space-between;
}

.biz-info-title {
  display: flex;
  padding-bottom: 5px;
}

.biz-info-title a {
  cursor: pointer;
  color: #0073bb;
}

.biz-info-title a:hover, .biz-info-tags a:hover{
  text-decoration: underline;
}

.biz-info-price-tags {
  display: flex;
}

.biz-info-price-tags p {
  padding-right: 8px;
  color: #333;
  font-size: 14px;
}

.biz-info-right{
  width: 30%;
  font-size: 14px;
}
 .biz-info-left {
  width: 50%;
}

.biz-info-address{
  padding-bottom: 5px;
}

.biz-info-tags a{
  cursor: pointer;
  color: #0073bb;
}


.biz-info-left .biz-info-rating{
  background-image: url("https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png");
  background-size: 132px 560px;
  background-repeat: no-repeat;
  vertical-align: bottom;
  overflow: hidden;
  height: 0;
  width: 108px;
  padding-top: 18px;
  margin-bottom: 5px;
}

.biz-info-rate-review{
  height: 18px;
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #666;
}

.biz-info-rate-review>div{
  height: 100%;
  text-align: center;
}

.biz-index-item-right{
  margin-left: 15px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.sample-review{
  margin-top: 15px;
}

.sample-review>div{
  display: flex;
}

.sample-review-user-avatar{
  height: 30px;
  width: 30px;
  border-radius: 3px;
  overflow: hidden;
  margin-right: 10px;
}

.sample-review-user-avatar>img{
  height: 100%;
  object-fit: cover;
}

.sample-review-body{
  overflow: hidden;
  height: 30px;
  font-size: 12px;
  width: 90%;
}

.sample-review-body>p>a{
  float: right;
  cursor: pointer;
  color: #0073bb;
}
